footer{
    text-align: center;
    margin-top: calculRem(100px);
    font-size: calculRem(10px);
    a{
        padding: calculRem(25px);
        text-transform: capitalize;
        color: #4793DA;
    }
}